@mixin reset-link() {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

@mixin reset-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset-btn() {
  padding: 0;
  border: none;
  background-color: transparent;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
