.cart__fields {
  display: flex;
  margin-bottom: 17px;
  padding-left: 50%;
  @media (max-width: $breakpoint-medium) {
    display: none;
  }
}

.cart__field-price {
  width: 24%;
  color: #5d5c5c;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}

.cart__field-count {
  width: 31%;
  color: #5d5c5c;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}

.cart__field-sum {
  color: #5d5c5c;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}

.cart__total {
  margin-top: 28px;
  margin-bottom: 65px;
  text-align: right;
  color: #1c1c1c;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
}

.cart__section {
  border: none;
  margin: 0;
  padding: 0;
}

.cart__options-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3px;
  @media (max-width: $breakpoint-small) {
    grid-template-columns: 100%;
  }
}

.cart__contacts-section {
  margin-bottom: 50px;
}

.cart__delivery {
  margin-bottom: 75px;
}

.cart__payment {
  margin-bottom: 95px;
}

.cart__confirm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media (max-width: $breakpoint-small) {
    align-items: center;
  }
}