.cart-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
  padding: 20px 40px;
  border-top: 5px solid #e8c0b5;
  margin-bottom: 20px;
  background-color: #f8f3f1;
  @media (max-width: $breakpoint-medium) {
    flex-direction: column;
    padding: 20px 23px;
    align-items: normal;
  }
}

.cart-total__info {
  color: #2b2b2b;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  @media (max-width: $breakpoint-small) {
    padding-right: 0;
    padding-bottom: 24px;
    border-right: none;
    border-bottom: 1px solid #dfd8d5;
  }
}

.cart-total__rightside {
  display: flex;
  align-items: center;
  @media (max-width: $breakpoint-small) {
    display: block;
  }
}

.cart-total__result {
  margin-right: 35px;
  color: #1c1c1c;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  @media (max-width: $breakpoint-small) {
    margin-bottom: 10px;
    padding-left: 0;
    padding-top: 34px;
  }
}
