.category-nav__list {
  @include reset-list;
  display: flex;
}

.category-nav__item {
  flex-grow: 1;
}

.category-nav__link {
  @include reset-link;
  padding: 15px 12px;
  font-size: 15px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  transition: background-color 0.25s;
  &:hover, &:focus {
    color: #fff;
    background-color: #509bb4;
    transition: background-color 0.25s;
  }
  @media (max-width: $breakpoint-medium) {
    padding: 20px 12px;
    font-size: 15px;
  }
}
