.color-block {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  &_black {
    border: 1px solid #181818;
    background-color: #181818;
  }
  &_white {
    border: 1px solid #dddddd;
    background-color: #fff;
  }
  &_cream {
    border: 1px solid #eadac0;
    background-color: #eadac0;
  }
  &_gray {
    border: 1px solid #bababa;
    background-color: #bababa;
  }
  &_red {
    border: 1px solid #f12e2e;
    background-color: #f12e2e;
  }
  &_blue {
    border: 1px solid #3966e7;
    background-color: #3966e7;
  }
  &_green {
    border: 1px solid #57bc06;
    background-color: #57bc06;
  }
  &_pink {
    border: 1px solid #f9a6cd;
    background-color: #f9a6cd;
  }
  &_purple {
    border: 1px solid#bc58f0;
    background-color: #bc58f0;
  }
  &_azure {
    border: 1px solid #9cdffe;
    background-color: #9cdffe;
  }
  &_orange {
    border: 1px solid #ffa60c;
    background-color: #ffa60c;
  }
}
