.color-checkbox {
  &_black {
    .color-checkbox__label {
      background-color: #181818;
    }
  }
  &_white {
    .color-checkbox__label {
      border: 1px solid #dddddd;
      background-color: #fff;
    }
  }
  &_cream {
    .color-checkbox__label {
      background-color: #eadac0;
    }
  }
  &_gray {
    .color-checkbox__label {
      background-color: #bababa;
    }
  }
  &_red {
    .color-checkbox__label {
      background-color: #f12e2e;
    }
  }
  &_blue {
    .color-checkbox__label {
      background-color: #3966e7;
    }
  }
  &_green {
    .color-checkbox__label {
      background-color: #57bc06;
    }
  }
  &_pink {
    .color-checkbox__label {
      background-color: #f9a6cd;
    }
  }
  &_purple {
    .color-checkbox__label {
      background-color: #bc58f0;
    }
  }
  &_azure {
    .color-checkbox__label {
      background-color: #9cdffe;
    }
  }
  &_orange {
    .color-checkbox__label {
      background-color: #ffa60c;
    }
  }
}

.color-checkbox__input {
  display: none;
}

.color-checkbox__input:checked + .color-checkbox__label {
  box-shadow: 0 0 7px rgba(124, 181, 201, 0.35);
  border-color: #7cb5c9;
  transition: box-shadow 0.25s;
}

.color-checkbox__label {
  display: block;
  width: 17px;
  height: 17px;
  border-radius: 50%;
    border: 1px solid transparent;
}