.counter {
  display: flex;
  align-items: center;
  width: 80px;
  @media (max-width: $breakpoint-small) {
    width: 100px;
  }
}

.counter__control {
  @include reset-btn;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #5d5c5c;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.25;
  &:hover {
    background-color: #f8f3f1;
    transition: background-color 0.25;
  }
  @media (max-width: $breakpoint-small) {
    width: 35px;
    height: 35px;
  }
}

.counter__input {
  width: 30px;
  height: 25px;
  border: none;
  background: transparent;
  text-align: center;
  color: #1c1c1c;
  font-size: 14px;
  font-weight: 500;
  
}
