.footer-nav__list {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  @media (max-width: $breakpoint-medium) {
      grid-template-columns: repeat(2, 1fr);
  }
}

.footer-nav__link {
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  &:hover {
    color: #707070;
  }
}
