.form-register {
  text-align: center;
}

.form-register__radio-row {
  display: flex;
  align-items: center;
  width: 390px;
}

.form-register__radio {
  margin-right: 25px;
}

.form-register__agreement {
  margin: 60px 0 25px;
}