.header-social-bar {
  @include reset-list;
  display: flex;
  align-items: center;
  margin: -32px -10px 0;
}

.header-social-bar__item {
  margin: 0 10px;
}

.header-social-bar__link {
  position: relative;
  display: flex;
  justify-content: center;
  width: 42px;
  height: 42px;
  box-sizing: border-box;
  padding-top: 15px;
  background-color: #fff;
  &:hover {
    background-color: #7cb5c9;
    .header-social-bar__link-decor {
      height: calc(100% + 30px);
      transition: height 0.25s;
      background-color: #7cb5c9;
      &::before {
        background: linear-gradient(to right bottom, #7cb5c9 50%, transparent 50%);
      }
      &::after {
        background: linear-gradient(to left bottom, #7cb5c9 50%, transparent 50%);
      }
    }
    .header-social-bar__icon {
      fill: #fff;
    }
  }
}

.header-social-bar__link-decor {
  transition: height 0.25s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: height 0.25s;
  &::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 21px;
    height: 10px;
    background: linear-gradient(to right bottom, #fff 50%, transparent 50%);
  }
  &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 21px;
    height: 10px;
    background: linear-gradient(to left bottom, #fff 50%, transparent 50%);
  }
}

.header-social-bar__icon {
  position: relative;
  z-index: 1;
  fill: #bcbcbc;
}
