.home-slider-item {
  height: 655px;
  padding: 120px 0 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: $breakpoint-small) {
    padding: 12% 0 0;
  }
}

.home-slider-item__pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-slider-item__content {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  @media (max-width: $breakpoint-small) {
    top: 20%;
  }
}

.home-slider-item__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-slider-item__first-line {
  padding: 8px 15px;
  margin-bottom: 12px;
  background: #fff;
  box-shadow: 4px 4px 0 0 #000;
  font-size: 38px;
  font-weight: 600;
  @media (max-width: $breakpoint-medium) {
    font-size: 28px;
  }
}

.home-slider-item__second-line {
  padding: 10px 15px;
  margin-bottom: 115px;
  background: #fff;
  box-shadow: 4px 4px 0 0 #000;
  font-size: 28px;
  @media (max-width: $breakpoint-medium) {
    margin-bottom: 55px;
    font-size: 18px;
  }
}

.home-slider-item__link {
  @include reset-link;
  display: inline-block;
  min-width: 220px;
  padding: 15px;
  border-radius: 20px;
  background-color: #8bcadf;
  text-align: center;
  color: #000;
  font-size: 15px;
  font-weight: 500;
  &:hover {
    color: #000;
  }
}
