.home-articles {
  padding: 75px 0 120px;
  background: #fff url('../img/lace-gray.png') 0 0 repeat-x;
  @media (max-width: $breakpoint-medium) {
    margin-bottom: 38px;
      padding: 75px 0 50px;
  }
  @media (max-width: $breakpoint-small) {
    padding: 75px 0 10px;
  }
}

.home-articles__section-title {
  margin-bottom: 45px;
  @media (max-width: $breakpoint-medium) {
    margin-bottom: 38px;
  }
}

.home-articles__grid {
  display: grid;
  grid-template-columns: 1fr 1.13fr;
  grid-column-gap: 100px;
  grid-row-gap: 35px;
  & > div:first-child {
    grid-row: 1 / 3;
  }
  @media (max-width: $breakpoint-medium) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    & > div:first-child {
      grid-row: auto;
      grid-column: 1 / 3;
    }
  }
  @media (max-width: $breakpoint-small) {
    grid-template-columns: 100%;
    & > div:first-child {
      grid-column: auto;
    }
  }
}

.home-articles__link {
  @include reset-link;
  display: block;
}
