.home-slider {
  position: relative;
}

.home-slider__nav {
  position: absolute;
  left: 50%;
  bottom: 17px;
  transform: translateX(-50%);
  a {
    &:focus {
      box-shadow: 0 0 3px 2px #6cbcd8;
    }
  }
}
