.input {
  width: 390px;
  min-width: 390px;
  max-width: 100%;
  height: 36px;
  box-sizing: border-box;
  padding: 5px 10px;
  border: 1px solid #636363;
  font-size: 14px;
  &:focus {
    box-shadow: 0 0 7px rgba(124, 181, 201, 0.35);
    border: 1px solid #7cb5c9;
    outline: none;
    transition: box-shadow 0.25s;
  }
  @media (max-width: $breakpoint-medium) {
    min-width: 0;
  }
  @media (max-width: $breakpoint-small) {
    width: 100%;
    font-size: 16px;
  }
}
