.link-item {
  display: block;
  height: 100%;
  &::before {
    content: '';
    position: absolute;
    top: 11px;
    right: 11px;
    bottom: 11px;
    left: 11px;
    z-index: 1;
    border: 2px solid rgba(255, 255, 255, 0.5);
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    border: 12px solid transparent;
    transition: border-color 0.25s;
  }
  &:hover {
    .link-item__img {
      transform: scale(1) translate(-50%, -50%);
      transition: transform 1s ease-out;
    }
    .link-item__title {
      color: #3f8ba4;
    }
    &::after {
      border-color: #fff;
      transition: border-color 0.25s;
    }
  }
  &_sale {
    .link-item__title {
      &::before {
        content: '%';
        position: absolute;
        top: 0;
        left: -60px;
        color: #fff;
        font-size: 60px;
        font-weight: 800;
        line-height: 44px;
        @media (max-width: $breakpoint-large) {
          display: none;
        }
      }
      &::after {
        content: '%';
        position: absolute;
        top: 0;
        right: -60px;
        color: #fff;
        font-size: 60px;
        font-weight: 800;
        line-height: 44px;
        @media (max-width: $breakpoint-large) {
          display: none;
        }
      }
    }
  }
}

.link-item__img {
  transform: scale(1.1) translate(-50%, -50%);
  transition: transform 1s ease-out;
}

.link-item__title {
  position: absolute;
  bottom: 12px;
  left: 50%;
  min-width: 200px;
  box-sizing: border-box;
  padding: 15px;
  color: #000;
  font-size: 22px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  background-color: #fff;
  transform: translateX(-50%);
  @media (max-width: $breakpoint-small) {
    min-width: 130px;
    font-size: 16px;
  }
}
