.main-footer__top {
  padding: 50px 0 60px;
  background-color: #f8f3f1;
  @media (max-width: $breakpoint-medium) {
    padding: 25px 0 35px;
  }
}

.main-footer__top-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @media (max-width: $breakpoint-small) {
    flex-direction: column;
  }
}

.main-footer__tel {
  @include reset-link;
  color: #707070;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  &:hover {
    color: #707070;
  }
  @media (max-width: $breakpoint-small) {
    margin-bottom: 40px;
  }
}

.main-footer__bottom {
  padding: 40px 0 16px;
  background: #ebe0dc url("../img/lace-white.png") 0 0 repeat-x;
}

.main-footer__bottom-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: $breakpoint-medium) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.main-footer__owner {
  color: #3f3336;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  @media (max-width: $breakpoint-medium) {
    margin-bottom: 30px;
  }
}

.main-footer__policy {
  color: #3f3336;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  &:hover {
    color: #3f3336;
  }
  @media (max-width: $breakpoint-medium) {
    margin-bottom: 15px;
  }
}

.main-footer__footer-nav {
  width: 58.8%;
  @media (max-width: $breakpoint-medium) {
    width: 41.8%;
  }
  @media (max-width: $breakpoint-small) {
    width: 100%;
    margin-bottom: 40px;
  }
}

.main-footer__social-bar {
  top: -50px;
  @media (max-width: $breakpoint-medium) {
    top: -25px;
  }
  @media (max-width: $breakpoint-small) {
    position: static;
    top: 0;
  }
}
