.percent {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin: 0 3px;
  background-color: #fff;
  border-radius: 50%;
  color: #4c9db7;
  font-size: 16px;
}