.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: #fff url("../img/preloader-1.jpg") 50% 50% no-repeat;
  background-size: 250px 250px;
  animation: switching 2s infinite;
}

@keyframes switching {
  0% {
    background-image: url("../img/preloader-1.jpg");
  }
  20% {
    background-image: url("../img/preloader-2.jpg");
  }
  40% {
    background-image: url("../img/preloader-3.jpg");
  }
  60% {
    background-image: url("../img/preloader-4.jpg");
  }
  80% {
    background-image: url("../img/preloader-5.jpg");
  }
}
