.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: #fff url('../img/preloader-1.jpg') 50% 50% no-repeat;
  background-size: 250px 250px;
  animation: switching 3s infinite;
  &.slide-out {
    animation: slide-out 0.5s ease-out forwards;
  }
}
