.search-adapt {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-adapt__search-form {
  position: relative;
  z-index: 2;
}

.search-adapt__close-btn {
  @include reset-btn;
  position: absolute;
  top: 7px;
  right: 7px;
  z-index: 2;
  color: #fff;
  &:hover {
    color: #fff;
  }
}

.search-adapt__close-icon {
  width: 22px;
  height: 23px;
  fill: #fff;
}