.search-form {
  &_adapt {
    width: 100%;
    padding: 50px 20px;
    background: #6cbcd8;
  }
}

.search-form__wrapper {
  position: relative;
  @media (max-width: $breakpoint-medium) {
    width: 100%;
  }
}

.search-form__input {
  width: 267px;
  height: 39px;
  box-sizing: border-box;
  padding: 0 50px 0 23px;
  border-radius: 20px;
  border: 1px solid #e5dfdf;
  background-color: #fff;
  transition: box-shadow 0.25s;
  font-size: 16px;
  &::placeholder {
    color: #7c7678;
    font-size: 14px;
    font-weight: 500;
  }
  @media (max-width: $breakpoint-large) {
    width: 220px;
  }
  @media (max-width: $breakpoint-medium) {
    width: 100%;
  }
}

.search-form__submit {
  @include reset-btn;
  position: absolute;
  top: 50%;
  right: 10px;
  width: 40px;
  height: 40px;
  transform: translateY(-50%);
}

.search-form__icon {
  width: 25px;
  height: 25px;
  fill: #c8c8c8;
  left: calc(100% - 45px);
}
