.subscribe-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  // @media (max-width: $breakpoint-medium) {
  //   justify-content: stretch;
  // }
  @media (max-width: $breakpoint-small) {
    flex-direction: column;
  }
}

.subscribe-form__row {
  margin-right: 15px;
  @media (max-width: $breakpoint-medium) {
    margin-right: 2%;
  }
  @media (max-width: $breakpoint-small) {
    width: 280px;
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.subscribe-form__input {
  padding: 0 25px;
  border-radius: 20px;
  border: 1px solid #78b2c6;
  background-color: rgba(255,255,255,0.5);
  transition: box-shadow 0.25s;
  &:focus {
    box-shadow: 0 0 7px rgba(255, 255, 255, 0.35);
    border-color: #fff;
    transition: box-shadow 0.25s;
  }
  &::placeholder {
    color: #648895;
    font-size: 14px;
    font-weight: 500;
  }
}

.subscribe-form__submit {
  @include reset-btn;
  min-width: 170px;
  padding: 12px;
  text-align: center;
  border-radius: 20px;
  background-color: #fff;
  color: #000;
  font-size: 17px;
  font-weight: 500;
  line-height: 1;
  transition: background-color 0.25s;
  cursor: pointer;
  &:hover {
    background-color: #ebe0dc;
    transition: background-color 0.25s;
  }
  @media (max-width: $breakpoint-medium) {
    min-width: 160px;
  }
  @media (max-width: $breakpoint-small) {
    min-width: 280px;
  }
}
