<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Носкофф</title>
  <link href="css/main.css" rel="stylesheet">
</head>

<body class="page">
  <div class="page__wrapper">
    <div class="preloader js-preloader"></div>
    <header class="main-header">
      <div class="main-header__top">
        <div class="uk-container">
          <div class="main-header__top-wrapper js-header-top">
            <nav class="main-header__customer-switcher customer-switcher" aria-label="Навигация по типу продаж">
              <ul class="customer-switcher__list">
                <li class="customer-switcher__item active">
                  <a class="customer-switcher__link" href="#">Розница</a>
                </li>
                <li class="customer-switcher__item">
                  <a class="customer-switcher__link" href="#">Оптовикам</a>
                </li>
              </ul>
            </nav>
            <div class="main-header__rightside">
              <nav class="main-header__main-nav main-nav">
                <ul class="main-nav__list">
                  <li class="main-nav__item">
                    <a href="" class="main-nav__link">О нас</a>
                  </li>
                  <li class="main-nav__item">
                    <a href="" class="main-nav__link">Новости</a>
                  </li>
                  <li class="main-nav__item">
                    <a href="" class="main-nav__link">Доставка</a>
                  </li>
                  <li class="main-nav__item">
                    <a href="" class="main-nav__link">Оплата</a>
                  </li>
                  <li class="main-nav__item">
                    <a href="" class="main-nav__link">Контакты</a>
                  </li>
                </ul>
              </nav>
              <ul class="main-header__social-bar social-bar">
                <li class="social-bar__item">
                  <a href="#" class="social-bar__link" aria-label="Наш Инстаграмм">
                    <svg class="social-bar__icon" width="16" height="16">
                      <use xlink:href="../img/sprite.svg#in" />
                    </svg>
                    <span class="social-bar__link-decor"></span>
                  </a>
                </li>
                <li class="social-bar__item">
                  <a href="#" class="social-bar__link" aria-label="Наш Вконтакте">
                    <svg class="social-bar__icon" width="21" height="12">
                      <use xlink:href="../img/sprite.svg#vk" />
                    </svg>
                    <span class="social-bar__link-decor"></span>
                  </a>
                </li>
                <li class="social-bar__item">
                  <a href="#" class="social-bar__link" aria-label="Наш Твиттер">
                    <svg class="social-bar__icon" width="18" height="16">
                      <use xlink:href="../img/sprite.svg#twitter" />
                    </svg>
                    <span class="social-bar__link-decor"></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="main-header__middle">
        <div class="uk-container">
          <div class="main-header__middle-wrapper">
            <div class="main-header__middle-leftside">
              <a class="js-main-header-logo" href="#" title="чулочно-носочные изделия 'Носкофф'">
                <img class="main-header__logo" src="../img/logo.jpg" alt="">
              </a>
            </div>
            <div class="main-header__middle-rightside">
              <div class="main-header__control-left">
                <div class="main-header__contacts">
                  <a class="main-header__tel" href="tel:+78001234567">
                    8 800 123 45 67
                  </a>
                </div>
                <form class="main-header__search-form search-form" aria-label="Форма поиска">
                  <div class="search-form__wrapper">
                    <input class="search-form__input uk-input" type="search" placeholder="Поиск" required>
                    <button class="search-form__submit" type="submit" aria-label="Кнопка поиска">
                      <svg class="search-form__icon">
                        <use xlink:href="../img/sprite.svg#search" />
                      </svg>
                    </button>
                  </div>
                </form>
              </div>
              <div class="main-header__control-right">
                <button class="main-header__login-btn" type="button" data-uk-toggle="target: #user">
                  <svg class="main-header__login-btn-icon" width="18" height="24">
                    <use xlink:href="../img/sprite.svg#user" />
                  </svg>
                  Войти
                </button>
                <div class="main-header__buttons">
                  <button class="menu-btn js-menu-btn"
                    data-uk-toggle="target: .js-menu-btn, .js-menu-nav-adapt; cls: is-open" type="button"
                    aria-label="Кнопка переключения меню">
                    <svg class="menu-btn__opened-icon">
                      <use xlink:href="../img/sprite.svg#menu" />
                    </svg>
                  </button>
                  <button class="main-header__search-btn search-btn" data-uk-toggle="target: .js-search-adapt"
                    aria-label="Кнопка переключения поиска">
                    <svg class="search-btn__icon">
                      <use xlink:href="../img/sprite.svg#search" />
                    </svg>
                  </button>
                  <a class="main-header__control-item" href="#" aria-label="Отложенные товары">
                    <svg class="main-header__control-icon-wishes">
                      <use xlink:href="../img/sprite.svg#heart" />
                    </svg>
                    <span class="main-header__control-item-badge uk-badge">2</span>
                  </a>
                  <a class="main-header__control-item" href="#" aria-label="Корзина">
                    <svg class="main-header__control-icon-cart">
                      <use xlink:href="../img/sprite.svg#cart" />
                    </svg>
                    <span class="main-header__control-item-badge uk-badge">8</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-header__bottom">
        <div class="uk-container">
          <nav class="main-header__category-nav category-nav" aria-label="Навигация по каталогам">
            <ul class="category-nav__list">
              <li class="category-nav__item"><a href="#" class="category-nav__link">Женщинам</a></li>
              <li class="category-nav__item"><a href="#" class="category-nav__link">Мужчинам</a></li>
              <li class="category-nav__item"><a href="#" class="category-nav__link">Девочкам</a></li>
              <li class="category-nav__item"><a href="#" class="category-nav__link">Мальчикам</a></li>
              <li class="category-nav__item"><a href="#" class="category-nav__link">Успей купить <span
                    class="percent">%</span></a></li>
            </ul>
          </nav>
        </div>
      </div>
      <nav class="menu-nav-adapt js-menu-nav-adapt uk-animation-slide-top" aria-label="Основная навигация">
        <button class="menu-btn menu-btn_close js-menu-btn"
          data-uk-toggle="target: .js-menu-btn, .js-menu-nav-adapt; cls: is-open;" type="button"
          aria-label="Кнопка переключения меню">
          <svg class="menu-btn__closed-icon">
            <use xlink:href="../img/sprite.svg#close" />
          </svg>
        </button>
        <ul class="menu-nav-adapt__list">
          <li class="menu-nav-adapt__item">
            <a class="menu-nav-adapt__link" href="#">Женщинам</a>
          </li>
          <li class="menu-nav-adapt__item">
            <a class="menu-nav-adapt__link" href="#">Мужчинам</a>
          </li>
          <li class="menu-nav-adapt__item">
            <a class="menu-nav-adapt__link" href="#">Девочкам</a>
          </li>
          <li class="menu-nav-adapt__item">
            <a class="menu-nav-adapt__link" href="#">Мальчикам</a>
          </li>
          <li class="menu-nav-adapt__item">
            <a class="menu-nav-adapt__link" href="#">Распродажа</a>
          </li>
          <li class="menu-nav-adapt__item">
            <a class="menu-nav-adapt__link" href="#">О нас</a>
          </li>
          <li class="menu-nav-adapt__item">
            <a class="menu-nav-adapt__link" href="#">Новости</a>
          </li>
          <li class="menu-nav-adapt__item">
            <a class="menu-nav-adapt__link" href="#">Доставка</a>
          </li>
          <li class="menu-nav-adapt__item">
            <a class="menu-nav-adapt__link" href="#">Оплата</a>
          </li>
          <li class="menu-nav-adapt__item">
            <a class="menu-nav-adapt__link" href="#">Контакты</a>
          </li>
          <li class="menu-nav-adapt__item">
            <a class="menu-nav-adapt__link" href="#">Вход/регистрация</a>
          </li>
        </ul>
      </nav>
      <div class="search-adapt js-search-adapt" hidden>
        <form class="search-adapt__search-form search-form search-form_adapt" aria-label="Форма поиска">
          <button class="search-adapt__close-btn uk-close" data-uk-toggle="target: .js-search-adapt"
            aria-label="Закрыть поиск">
            <svg class="search-adapt__close-icon">
              <use xlink:href="../img/sprite.svg#close" />
            </svg>
          </button>
          <div class="search-form__wrapper">
            <input class="search-form__input uk-input" type="search" placeholder="Поиск" required autofocus>
            <button class="search-form__submit" type="submit" aria-label="Кнопка поиска">
              <svg class="search-form__icon">
                <use xlink:href="../img/sprite.svg#search" />
              </svg>
            </button>
          </div>
        </form>
        <div class="uk-overlay-primary uk-position-cover" data-uk-toggle="target: .js-search-adapt"></div>
      </div>
    </header>
    <main>
      <div class="home-slider" data-uk-slideshow="min-height: 380; max-height: 660; animation: push; autoplay: true">
        <div class="uk-position-relative uk-visible-toggle">
          <ul class="home-slider__items uk-slideshow-items">
            <li>
              <div class="home-slider-item">
                <picture class="home-slider-item__pic uk-cover-container">
                  <source srcset="../img/slide.jpg" media="(min-width: 640px)">
                  <img data-uk-cover src="../img/slide-mob.jpg" alt="">
                </picture>
                <div class="home-slider-item__content">
                  <div class="uk-container">
                    <div class="home-slider-item__title">
                      Белье для него<br>
                      от TM DIVARY
                    </div>
                    <a class="btn btn_default btn_default_dark" href="#">
                      Смотреть коллекцию
                    </a>
                  </div>
                </div>
            </li>
            <li>
              <div class="home-slider-item">
                <picture class="home-slider-item__pic uk-cover-container">
                  <source srcset="../img/slide.jpg" media="(min-width: 640px)">
                  <img data-uk-cover src="../img/slide-mob.jpg" alt="">
                </picture>
                <div class="home-slider-item__content">
                  <div class="uk-container">
                    <div class="home-slider-item__title">
                      Белье для него<br>
                      от TM DIVARY
                    </div>
                    <a class="btn btn_default btn_default_dark" href="#">
                      Смотреть коллекцию
                    </a>
                  </div>
                </div>
            </li>
            <li>
              <div class="home-slider-item">
                <picture class="home-slider-item__pic uk-cover-container">
                  <source srcset="../img/slide.jpg" media="(min-width: 640px)">
                  <img data-uk-cover src="../img/slide-mob.jpg" alt="">
                </picture>
                <div class="home-slider-item__content">
                  <div class="uk-container">
                    <div class="home-slider-item__title">
                      Белье для него<br>
                      от TM DIVARY
                    </div>
                    <a class="btn btn_default btn_default_dark" href="#">
                      Смотреть коллекцию
                    </a>
                  </div>
                </div>
            </li>
          </ul>
        </div>
        <ul class="home-slider__nav uk-slideshow-nav uk-dotnav uk-flex-center" aria-label="Навигация по слайдеру"></ul>
      </div>
      <div class="best-offers">
        <div class="uk-container">
          <div class="best-offers__tab" data-uk-tab="animation: uk-animation-slide-bottom-small">
            <div class="uk-active">
              <a class="best-offers__tab-item" href="#">Лучшие предложения</a>
            </div>
            <div>
              <a class="best-offers__tab-item" href="#">Новинки</a>
            </div>
          </div>
          <div class="uk-switcher">
            <div>
              <div class="best-offers__grid">
                <div>
                  <div class="product-item">
                    <div class="product-item__img-wrapper">
                      <a class="product-item__img-link" href="#" tabindex="-1">
                        <img src="../img/product-1.jpg" alt="">
                      </a>
                      <button class="product-item__like js-like" type="button" aria-label="Добавить в понравившиеся">
                        <svg class="product-item__like-icon">
                          <use xlink:href="img/sprite.svg#heart" />
                        </svg>
                      </button>
                    </div>
                    <div class="product-item__desc">
                      <a class="product-item__link" href="#">
                        <h3 class="product-item__title">
                          Носки мужские DiWaRi Classic 5С-08С
                        </h3>
                      </a>
                      <div class="price">
                        160 <span class="rubl">c</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="product-item">
                    <div class="product-item__img-wrapper">
                      <a class="product-item__img-link uk-cover-container" href="#" tabindex="-1">
                        <img data-uk-cover src="../img/product-1.jpg" alt="">
                      </a>
                      <button class="product-item__like" type="button" aria-label="Отложить товар">
                        <svg class="product-item__like-icon">
                          <use xlink:href="img/sprite.svg#heart" />
                        </svg>
                      </button>
                    </div>
                    <div class="product-item__desc">
                      <a class="product-item__link" href="#">
                        <h3 class="product-item__title">
                          Носки мужские DiWaRi Classic 5С-08С
                        </h3>
                      </a>
                      <div class="price">
                        160 <span class="rubl">c</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="product-item">
                    <div class="product-item__img-wrapper">
                      <a class="product-item__img-link uk-cover-container" href="#" tabindex="-1">
                        <img data-uk-cover src="../img/product-1.jpg" alt="">
                      </a>
                      <button class="product-item__like" type="button" aria-label="Отложить товар">
                        <svg class="product-item__like-icon">
                          <use xlink:href="img/sprite.svg#heart" />
                        </svg>
                      </button>
                    </div>
                    <div class="product-item__desc">
                      <a class="product-item__link" href="#">
                        <h3 class="product-item__title">
                          Носки мужские DiWaRi Classic 5С-08С
                        </h3>
                      </a>
                      <div class="price">
                        160 <span class="rubl">c</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="product-item">
                    <div class="product-item__img-wrapper">
                      <a class="product-item__img-link uk-cover-container" href="#" tabindex="-1">
                        <img data-uk-cover src="../img/product-1.jpg" alt="">
                      </a>
                      <button class="product-item__like" type="button" aria-label="Отложить товар">
                        <svg class="product-item__like-icon">
                          <use xlink:href="img/sprite.svg#heart" />
                        </svg>
                      </button>
                    </div>
                    <div class="product-item__desc">
                      <a class="product-item__link" href="#">
                        <h3 class="product-item__title">
                          Носки мужские DiWaRi Classic 5С-08С
                        </h3>
                      </a>
                      <div class="price">
                        160 <span class="rubl">c</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="best-offers__grid">
                <div>
                  <div class="product-item">
                    <div class="product-item__img-wrapper">
                      <a class="product-item__img-link uk-cover-container" href="#" tabindex="-1">
                        <img data-uk-cover src="../img/product-1.jpg" alt="">
                      </a>
                      <button class="product-item__like js-like" type="button" aria-label="Отложить товар">
                        <svg class="product-item__like-icon">
                          <use xlink:href="img/sprite.svg#heart" />
                        </svg>
                      </button>
                    </div>
                    <div class="product-item__desc">
                      <a class="product-item__link" href="#">
                        <h3 class="product-item__title">
                          Носки мужские DiWaRi Classic 5С-08С
                        </h3>
                      </a>
                      <div class="price">
                        160 <span class="rubl">c</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="product-item">
                    <div class="product-item__img-wrapper">
                      <a class="product-item__img-link uk-cover-container" href="#" tabindex="-1">
                        <img data-uk-cover src="../img/product-1.jpg" alt="">
                      </a>
                      <button class="product-item__like js-like" type="button" aria-label="Отложить товар">
                        <svg class="product-item__like-icon">
                          <use xlink:href="img/sprite.svg#heart" />
                        </svg>
                      </button>
                    </div>
                    <div class="product-item__desc">
                      <a class="product-item__link" href="#">
                        <h3 class="product-item__title">
                          Носки мужские DiWaRi Classic 5С-08С
                        </h3>
                      </a>
                      <div class="price">
                        160 <span class="rubl">c</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="product-item">
                    <div class="product-item__img-wrapper">
                      <a class="product-item__img-link uk-cover-container" href="#">
                        <img data-uk-cover src="../img/product-1.jpg" alt="">
                      </a>
                      <button class="product-item__like js-like" type="button" aria-label="Отложить товар">
                        <svg class="product-item__like-icon">
                          <use xlink:href="img/sprite.svg#heart" />
                        </svg>
                      </button>
                    </div>
                    <div class="product-item__desc">
                      <a class="product-item__link" href="#">
                        <h3 class="product-item__title">
                          Носки мужские DiWaRi Classic 5С-08С
                        </h3>
                      </a>
                      <div class="price">
                        160 <span class="rubl">c</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="product-item">
                    <div class="product-item__img-wrapper">
                      <a class="product-item__img-link uk-cover-container" href="#" tabindex="-1">
                        <img data-uk-cover src="../img/product-1.jpg" alt="">
                      </a>
                      <button class="product-item__like js-like" type="button" aria-label="Отложить товар">
                        <svg class="product-item__like-icon">
                          <use xlink:href="img/sprite.svg#heart" />
                        </svg>
                      </button>
                    </div>
                    <div class="product-item__desc">
                      <a class="product-item__link" href="#">
                        <h3 class="product-item__title">
                          Носки мужские DiWaRi Classic 5С-08С
                        </h3>
                      </a>
                      <div class="price">
                        160 <span class="rubl">c</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="features" data-uk-parallax="background-color: #81c5dd"
        data-uk-scrollspy="target: .features__text; cls:uk-animation-fade;">
        <div class="uk-container">
          <div class="features__wrapper">
            <div class="features__item-2">
              <div class="features__text features__item-2-text-1">
                Более
              </div>
              <div class="features__text features__item-2-text-2">
                20<br> лет
              </div>
              <div class="features__text features__item-2-text-3">
                работы на рынке
              </div>
            </div>
            <div class="features__item-1">
              <div class="features__text features__item-1-text-1">
                Прямые
              </div>
              <div class="features__text features__item-1-text-2">
                поставки
              </div>
              <div class="features__text features__item-1-text-3">
                с крупнейших<br>
                заводов-изготовителей
              </div>
            </div>
            <div class="features__item-3">
              <div class="features__text features__item-3-text-1">
                100%
              </div>
              <div class="features__text features__item-3-text-2">
                качество<br>
                товаров
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="home-banners">
        <div class="uk-container">
          <div class="home-banners__grid">
            <div>
              <a class="banner-item uk-cover-container" href="#">
                <img class="banner-item__img" data-uk-cover src="../img/home-banner-1.jpg" alt="">
                <span class="banner-item__title">
                  Женщинам
                </span>
              </a>
            </div>
            <div>
              <a class="banner-item uk-cover-container" href="#">
                <img class="banner-item__img" data-uk-cover src="../img/home-banner-3.jpg" alt="">
                <span class="banner-item__title">
                  Мужчинам
                </span>
              </a>
            </div>
            <div>
              <a class="banner-item uk-cover-container" href="#">
                <img class="banner-item__img" data-uk-cover src="../img/home-banner-4.jpg" alt="">
                <span class="banner-item__title">
                  Детям
                </span>
              </a>
            </div>
            <div>
              <a class="banner-item banner-item_sale uk-cover-container" href="#">
                <img class="banner-item__img" data-uk-cover src="../img/home-banner-2.jpg" alt="">
                <span class="banner-item__title">
                  Успей купить
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <section class="home-about">
        <div class="uk-container">
          <h2 class="section-title">
            О нас
          </h2>
          <div class="home-about__grid">
            <div>
              <div class="home-about__text">
                <p>Не стоит недооценивать носки, на первый взгляд незаметная часть гардероба, может, как подчеркнуть Ваш
                  статус, так и напрочь разрушить его. И неважно будет, как дорого Вы купили свой костюм или туфли, если
                  носки при этом растянуты, то для начала нужно было купить носки. Недаром носки называют Наполеоном
                  мужского гардероба.
                  <p>Мужская мода, несмотря на свой консерватизм, давно вышла за рамки делового стиля. Появилось
                    множество интересных направлений моды. В гардеробе мужчины умещается одежда для разных случаев
                    жизни: от повседневных офисных будней до торжественных мероприятий и даже тематических вечеринок.
                    <p>Неважно насколько Вы далеки от моды, просто запомните, что под костюм никогда не надевают
                      спортивные белые носки. Казалось бы, ну что может быть проще, не сочетать спортивный стиль с
                      классическим. Но почему-то носки записали в ряды универсальной одежды, и используют их без
                      принадлежности к стилю.
              </div>
            </div>
            <div>
              <a class="home-about__banner home-about__banner-1" href="#">
                <img src="../img/about-banner-1.jpg" alt="">
              </a>
              <a class="home-about__banner home-about__banner-2" href="#">
                <img src="../img/about-banner-2.jpg" alt="">
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="home-articles">
        <div class="uk-container">
          <h2 class="home-articles__section-title section-title">Статьи</h2>
          <div class="home-articles__grid">
            <div>
              <a class="article-link article-link_large" href="#">
                <span class="article-link__image-container uk-position-relative">
                  <span class="article-link__image-wrapper uk-cover-container">
                    <img class="article-link__image" data-uk-cover src="../img/article-link-1.jpg" alt="">
                  </span>
                  <span class="article-link__substrate"></span>
                </span>
                <span class="article-link__desc-container">
                  <span class="article-link__title">
                    Как выбрать носки
                  </span>
                  <span class="article-link__desc">
                    В нашем интернет-магазине собраны лучшие носки от российских и зарубежных брендов и производителей
                    чулочно-носочной продукции. Весь ассортимент товаров
                  </span>
                </span>
              </a>
            </div>
            <div>
              <a class="article-link article-link_small" href="#">
                <span class="article-link__image-container uk-position-relative">
                  <span class="article-link__image-wrapper uk-cover-container">
                    <img class="article-link__image" data-uk-cover src="../img/article-link-2.jpg" alt="">
                  </span>
                  <span class="article-link__substrate"></span>
                </span>
                <span class="article-link__desc-container">
                  <span class="article-link__title">
                    Последние тенденции
                  </span>
                  <span class="article-link__desc">
                    В нашем интернет-магазине собраны лучшие носки от российских и за рубежных
                  </span>
                </span>
              </a>
            </div>
            <div>
              <a class="article-link article-link_small" href="#">
                <span class="article-link__image-container uk-position-relative">
                  <span class="article-link__image-wrapper uk-cover-container">
                    <img class="article-link__image" data-uk-cover src="../img/article-link-2.jpg" alt="">
                  </span>
                  <span class="article-link__substrate"></span>
                </span>
                <span class="article-link__desc-container">
                  <span class="article-link__title">
                    Последние тенденции
                  </span>
                  <span class="article-link__desc">
                    В нашем интернет-магазине собраны лучшие носки от российских и за рубежных
                  </span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="subscribe">
        <div class="uk-container">
          <form class="subscribe__form">
            <h2 class="subscribe__title">Подпишитесь на скидки и акции</h2>
            <div class="subscribe__row">
              <input class="subscribe__input uk-input" type="text" placeholder="E-mail" aria-label="E-mail" required>
            </div>
            <button class="btn btn_subscribe" type="submit">Отправить</button>
          </form>
        </div>
      </section>
    </main>
    <footer class="main-footer">
      <div class="main-footer__top">
        <div class="uk-container">
          <div class="main-footer__top-wrapper">
            <nav class="main-footer__footer-nav footer-nav">
              <ul class="footer-nav__list">
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Мужчинам
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Новинки
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Доставка
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Оптовикам
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Женщинам
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Распродажа
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Оплата
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Контакты
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Детям
                  </a>
                </li>
              </ul>
            </nav>
            <a class="main-footer__tel" href="tel:+78001234567">8 800 123 45 67</a>
            <ul class="main-footer__social-bar social-bar">
              <li class="social-bar__item">
                <a class="social-bar__link" href="#" aria-label="Наш Инстаграмм">
                  <svg class="social-bar__icon" width="16" height="16">
                    <use xlink:href="../img/sprite.svg#in" />
                  </svg>
                  <span class="social-bar__link-decor"></span>
                </a>
              </li>
              <li class="social-bar__item">
                <a class="social-bar__link" href="#" aria-label="Наш Вконтакте">
                  <svg class="social-bar__icon" width="21" height="12">
                    <use xlink:href="../img/sprite.svg#vk" />
                  </svg>
                  <span class="social-bar__link-decor"></span>
                </a>
              </li>
              <li class="social-bar__item">
                <a class="social-bar__link" href="#" aria-label="Наш Твиттер">
                  <svg class="social-bar__icon" width="18" height="16">
                    <use xlink:href="../img/sprite.svg#twitter" />
                  </svg>
                  <span class="social-bar__link-decor"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="main-footer__bottom">
        <div class="uk-container">
          <div class="main-footer__bottom-wrapper">
            <!-- <div class="main-footer__bottom-leftside"> -->
            <div class="main-footer__owner">© Носкофф 2018</div>
            <a class="main-footer__policy" href="#">Политика конфиденциальности</a>
            <a class="main-footer__policy" href="#">Пользовательское соглашение</a>
            <!-- </div> -->
            <a class="footer-bottom__devs" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="125" height="40" fill="#3f3336" viewBox="0 0 936 316">
                <path d="M136.9,198.3c-3.2,1.7-7.1,0.6-8.8-2.6l-36.6-68.2c-1.7-3.2-0.6-7.1,2.6-8.8c3.2-1.7,7.1-0.6,8.8,2.6l36.6,68.2
                    C141.2,192.6,140.1,196.6,136.9,198.3L136.9,198.3z M101.5,127.5l-36.6,68.2c-1.7,3.2-5.7,4.3-8.8,2.6c-3.2-1.7-4.3-5.7-2.6-8.8
                    l36.6-68.2c1.2-2.2,3.5-3.5,5.9-3.4c0.1,0,0.5,0,0.5,0c0.1,0,0.6,0,0.7,0c0.8,0.1,1,0.4,1.7,0.8
                    C102.1,120.4,103.2,124.4,101.5,127.5z" />
                <path d="M209.5,127.5l-36.6,68.2c-1.7,3.2-5.7,4.3-8.8,2.6c-3.2-1.7-4.3-5.7-2.6-8.8l36.6-68.2c1.7-3.2,5.7-4.3,8.8-2.6
                    C210.1,120.4,211.2,124.4,209.5,127.5L209.5,127.5z M168.9,198.3c-3.2,1.7-7.1,0.6-8.8-2.6l-36.6-68.2c-1.7-3.2-0.6-7.1,2.6-8.8
                    c3.2-1.7,7.1-0.6,8.h8,2.6l36.6,68.2C173.2,192.6,172.1,196.6,168.9,198.3L168.9,198.3z" />
                <path d="M240,128c0,0-12-1.2-12,9c0,8,5.7,10,14,13s15,4.3,20,13c4.2,7.4,4.3,21.1-6,29c-10.7,8.2-26.3,6.8-37,2c-4.5-2-4.2-7.3-3-9
                    s5.8-2.3,10,0s9.7,2.9,14,2c5.3-1.1,12.8-3.2,13-11s-2-10.5-12-14c-9-3.2-25.8-7.8-25-26c0.3-7.4,5.2-13,10.1-15.4
                    c7-3.5,13-3.8,17.9-2.6c3.8,1,17.3,5.7,14,12C253.6,138.5,245.8,128,240,128L240,128z" />
                <path d="M305,305V11H11v294H305 M316,316H0V0h316V316L316,316L316,316z" />
                <text style="font-family: 'Open Sans', sans-serif;
                  font-size: 110px; fill: #6e6364;" x="400" y="130">Сделано в</text>
                <text style="font-family: 'Open Sans', sans-serif;
                  font-size: 110px; letter-spacing: 3px; fill: #6e6364;" x="400" y="270"
                  textLength="550">#avsweb</text>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <div id="user" data-uk-modal>
    <div class="modal modal-user uk-modal-dialog uk-modal-body">
      <button class="modal__close uk-modal-close" data-uk-close type="button"></button>
      <div class="modal__header">
        <div class="customer-switcher">
          <ul class="customer-switcher__list" data-uk-switcher="connect: .modal__main">
            <li class="customer-switcher__item active">
              <a class="customer-switcher__link" href="#">Вход</a>
            </li>
            <li class="customer-switcher__item">
              <a class="customer-switcher__link" href="#">Регистрация</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal__main uk-switcher">
        <div class="modal-user__tab">
          Вход
        </div>
        <div class="modal-user__tab">
          <form class="form-register">
            <div class="form-row">
              <label class="form-label" for="cart-contacts-name">Имя</label>
              <input class="input uk-input" id="cart-contacts-name" name="cart-contacts-name" type="text" required>
            </div>
            <div class="form-row">
              <label class="form-label" for="cart-contacts-tel">Телефон</label>
              <input class="input uk-input" id="cart-contacts-tel" name="cart-contacts-tel" type="tel" required>
            </div>
            <div class="form-row">
              <label class="form-label" for="cart-contacts-email">Email</label>
              <input class="input uk-input" id="cart-contacts-email" name="cart-contacts-email" type="email" required>
            </div>
            <div class="form-row">
              <label class="form-label" for="cart-contacts-tel">Придумайте пароль</label>
              <input class="input uk-input" id="cart-contacts-tel" name="cart-contacts-tel" type="password" required>
            </div>
            <div class="form-row">
              <label class="form-label" for="cart-contacts-tel">Повторите пароль</label>
              <input class="input uk-input" id="cart-contacts-tel" name="cart-contacts-tel" type="password" required>
            </div>
            <div class="form-row">
              <label class="form-label" for="cart-contacts-tel">Дата рождения</label>
              <input class="input" id="cart-contacts-tel" name="cart-contacts-tel" type="date">
            </div>
            <div class="form-row">
              <div class="form-label" for="cart-contacts-tel">Пол</div>
              <div class="form-register__radio-row">
                <div class="form-register__radio radio">
                  <label>
                    <input class="radio__input" type="radio" name="gender" value="male" checked required>
                    <span class="radio__label-text">Мужской</span>
                  </label>
                </div>
                <div class="form-register__radio radio">
                  <label>
                    <input class="radio__input" type="radio" name="gender" value="female" required>
                    <span class="radio__label-text">Женский</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-register__agreement agreement">
              <label>
                <input class="agreement__input" type="checkbox" name="cart-agreement" checked required>
                <span class="agreement__label-text">
                  Я согласен(на) <a href="#">с условиями обслуживания</a>
                </span>
              </label>
            </div>
            <button class="btn btn_default btn_default_light" type="submit">Отправить</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="../bundle.js"></script>
</body>

</html>